.projectinfo-page{
    .project-top{
        padding: 50px 50px 50px 70px;
        display: flex;
        flex-wrap: nowrap;
        .ptop-left{
            width: 8rem;
            margin-right: .5rem;
            vertical-align: top;
            h2{
                font-size: 22px;
                color: #333333;
                margin-bottom: 57px;
            }
            .ptop-img{
                img{
                    width: 100%;
                    height: 520px; 
                }
            }
        }
        .ptop-right{
            width: 4.7rem;
            vertical-align: top;
            .ptop-people{
                border-bottom: 1px solid #e5e5e5;
                padding-bottom: 20px;
                .ptop-pimg{
                    display: inline-block;
                    margin-right: 15px;
                    img{
                        width: 60px;
                        height: 60px;
                        vertical-align: middle;
                    }
                }
                .ptop-name{
                    display: inline-block;
                    vertical-align: middle;
                    .ptop-ntop{
                        margin-bottom: 15px;
                        .big-text{
                            font-size: 18px;
                            color: #333333;
                            margin-right: 15px;
                        }
                        .fang-text{
                            display: inline-block;
                            border: 1px solid #6C61C5;
                            font-size: 12px;
                            color: #6C61C5;
                            width: 100px;
                            height: 20px;
                            line-height: 20px;
                            text-align: center;
                        }
                    }
                    .ptop-ndown{
                        font-size: 14px;
                        color: #A0A0A0;
                    }
                }
                .watch-icon{
                    float: right;
                    margin-top: 35px;
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .ptop-des{
                margin-top: 40px;
                margin-bottom: 40px;
                .ptop-toptext{
                    font-size: 22px;
                    color: #6C61C5;
                }
                .ptop-bottomtext{
                    font-size: 16px;
                    color: #333333;
                }
            }
            .ptop-des-other{
                margin-bottom: 30px;
            }
            .ptop-num-title{
                font-size: 16px;
                color: #A0A0A0;
                line-height: 16px;
                margin-bottom: 10px;
            }
            .ptop-num-text{
                font-size: 22px;
                color: #333333;
                line-height: 22px;
                margin-bottom: 50px;
                .small-text{
                    font-size: 16px;
                }
            }
            .ptop-text-other{
                margin-bottom: 40px;
            }
            .ptop-share{
                border-top: 1px solid #e5e5e5;
                padding-top: 30px;
                span{
                    font-size: 16px;
                    color: #333333;
                    display: inline-block;
                    margin-top: 5px;
                }
                .share-icon{
                    float: right;
                    .img-div{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%; 
                        display: inline-block;
                        margin-right: 30px;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                    .twitter-icon{
                        background: url("../../img/twitter-no.png") no-repeat;
                        background-size: cover;
                        &:hover{
                            background: url("../../img/twitter-yes.png") no-repeat;
                            background-size: cover;
                            box-shadow: 0 2px 10px 0 #C4E8FF;
                        }
                    }
                    .qq-icon{
                        background: url("../../img/qq-no.png") no-repeat;
                        background-size: cover;
                        &:hover{
                            background: url("../../img/qq-yes.png") no-repeat;
                            background-size: cover;
                            box-shadow: 0 2px 10px 0 #BFE7FF;
                        }
                    }
                    .webchat-icon{
                        background: url("../../img/wechat-no.png") no-repeat;
                        background-size: cover;
                        &:hover{
                            background: url("../../img/wechat-yes.png") no-repeat;
                            background-size: cover;
                            box-shadow: 0 2px 10px 0 #B6D5B4;
                        }
                    }    
                }
            }
        }
    } 
    .project-bottom{
        padding: 0 .7rem;
        background: #fff;
        padding-bottom: 50px;
        .pbottom-title{
            padding-top: 10px;
            border-bottom: 1px solid  #E5E5E5;
            position: relative;
            .pbottom-right-btn{
                position: absolute;
                top: 25px;
                right: 0;
            }
        }
        .pbottom-content{
            min-height: 600px;
        }
        .title-ul{
            height: 56px;                        
            .title-li{
                display: inline-block;
                margin-right: 60px;
                line-height: 56px;
                cursor: pointer;
                &.active{
                    position: relative;
                    font-weight: 600;
                    &:after{
                        content:'';
                        position: absolute;
                        bottom:0;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        background: #333;
                        border-radius: 3px;
                    }
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        .transation-wrapper{
            margin-top: 50px;
            padding-bottom: 100px;
            .trans-top{
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
            }
            .trans-price{
                display: inline-block;
                vertical-align: top;
                background: #FFFFFF;
                box-shadow: 0 4px 12px 0 rgba(175,175,175,0.50);
                border-radius: 5px;
                width: 8rem;
                height: 415px;
                margin-right: .3rem;
                .trans-title{
                    clear: both;
                    height: 56px;
                    line-height: 56px;
                    border-bottom: 1px solid  #E5E5E5;
                    padding-right: 30px;
                    .trans-title-left{
                        display: inline-block;
                        padding-left: 30px;
                        font-size: 16px;
                        .gray-text{
                            font-size: 12px;
                            color: #A0A0A0;
                        }
                    }
                    .trans-title-right{
                        float: right;
                    }
                }
                .trans-echart{
                    width: 7.5rem;
                    max-width: 751px;
                    height: 309px;
                    margin: 0 auto;
                    margin-top: 40px;
                    margin-bottom: 15px;
                    img{
                        width: 100%;
                    }
                }
            }
            .trans-right-table{
                display: inline-block;
                vertical-align: top;
                background: #FFFFFF;
                box-shadow: 0 4px 12px 0 rgba(175,175,175,0.50);
                border-radius: 5px;
                width:4.68rem;
                height: 415px;
                .right-title{
                    border-bottom: 1px solid  #E5E5E5;
                    padding-left: 30px;
                }
                .right-line{
                    padding: 0 30px;
                    margin-top: 36px;
                    clear: both;
                    font-size: 16px;
                    .right-line-left{
                        display: inline-block;
                    }
                    .right-line-right{
                        float: right;
                        text-align: right;
                        font-weight: 600;
                    }
                    .small-gray{
                        color: #A0A0A0;
                    }
                    .big-purple{
                        color: #6C61C5;
                    }
                    .big-red{                        
                        color: #F25151;
                    }
                    .big-green{
                        color: #49CE26;
                    }
                }
                .buy-in{
                    padding: 30px;
                    font-size: 14px;
                    // width:100px;
                    .buy-line{
                        margin-bottom: 30px;
                        display: flex;
                        .buy-left{
                            width: 1.07rem;                            
                            color: #A0A0A0;
                            line-height: 44px;
                        }
                        .buy-right{
                            position: relative;
                            .normal-buy-input{
                                background: #FFFFFF;
                                border: 1px solid #E5E5E5;
                                border-radius: 3px;
                                width: 3rem;
                                height: 44px;
                                padding: 15px;
                                box-sizing: border-box;
                            }
                            .readonly-input{
                                background: #F6F6F6;
                                border: 1px solid #E5E5E5;
                            }
                            .asset-text{
                                position: absolute;
                                top: 15px;
                                right: 15px;
                                font-size: 14px;
                                color: #A0A0A0;
                            }
                        }
                    }
                    .buy-btn{
                        text-align: center;
                        margin-top: 40px;
                        .bg-btn{
                            width: 100% !important;
                        }
                    }
                }

            }
            .trans-Bottom-table{
                background: #FFFFFF;
                box-shadow: 0 4px 12px 0 rgba(175,175,175,0.50);
                border-radius: 5px;
                margin-top: 30px;
                width: 100%;
                .bottom-title{
                    border-bottom: 1px solid #E5E5E5;
                    padding-left: 30px;
                }
                .bottom-table{
                    .table-ul{
                        width: 100%;
                        .table-li-th,.table-li-td{
                            display: flex;
                            justify-content: space-between;
                            padding: 0 30px;
                            border-bottom: 1px solid #E5E5E5;                            
                        }
                        .table-li-th{                            
                            .li-th{
                                font-size: 14px;
                                color: #B2B2B2;
                                line-height: 63px;
                                text-align: left;
                                width: 100px;
                                &:last-child{
                                    text-align: right;
                                    width: 175px;
                                }
                                &:first-child{
                                    width: 200px !important;
                                }
                                &:nth-of-type(6){
                                    width: 180px !important;
                                }
                            }
                        }
                        .table-li-td{                            
                            .li-td{
                                font-size: 14px;
                                color: #333333;
                                line-height: 63px;
                                text-align: left;
                                width: 100px;
                                &:last-child{
                                    text-align: right;
                                    width: 175px;
                                }
                                &:first-child{
                                    width: 200px !important;
                                }
                                &:nth-of-type(6){
                                    width: 180px !important;
                                }
                            }
                            .purple-text{
                                color: #6C61C5;
                            }
                            .green-text{
                                color: #49CE26;
                            }
                            .red-text{
                                color: #DC3F3F;
                            }
                            &:last-child{
                                border-bottom:none;
                            }
                        }
                    }
                }
            }
        }
        .manager-wrapper{
            .green-text{
                color: #49CE26;
            }
            .purple-text{
                color: #6C61C5;
            }
            .gray-text{
                color: #A0A0A0;
            }
            .manager-list-wrap{
                background: #FFFFFF;
                box-shadow: 0 4px 12px 0 rgba(175,175,175,0.50);
                border-radius: 6px;
                margin-top: 30px;
                padding: 30px 30px 20px 30px;
                clear: both;
                .manager-left{
                    display: inline-block;
                    .manager-title{
                        margin-bottom: 20px;
                        h3{
                            display: inline-block;
                            font-size: 20px;   
                            margin-right: 15px;                         
                        }
                        .other-text{
                            font-size: 16px;
                        }
                    }
                    .manager-people{
                        margin-bottom: 20px;
                        img{
                            vertical-align: middle;
                            width: 24px;
                            height: 24px;
                            margin-right: 10px;
                        }
                        .gray-text{
                            vertical-align: middle;
                            font-size: 14px;
                            color: #A0A0A0;
                        }
                    }
                    .manager-state{
                        font-size: 16px;
                        color: #333333;
                        font-weight: 600;                    
                    }
                }
                .manager-right{
                    float: right;
                    text-align: right;
                    .manager-number{
                        font-size: 20px;
                        margin-bottom: 10px;
                        font-weight: 600;
                    }
                    .manager-votebox{
                        width: 260px;
                        height: 20px;
                        margin-top: 60px;
                        border-radius: 3px;
                        display: flex;
                        position: relative;
                        float: right;
                        .green-sai{
                            background: #71E852;
                            border-radius: 3px 0px 0px 3px; 
                            height: 100%;                           
                        }
                        .red-sai{
                            background: #FE6868;
                            height: 100%;
                            border-radius: 0px 3px 3px 0px ; 
                        }
                        .left-top{
                            position: absolute;
                            top: -20px;
                            left: 0;
                        }
                        .right-top{
                            position: absolute;
                            top: -20px;
                            right:0;
                        }
                        .qian-gray{
                           background: #C9C9C9;
                        }
                        .shen-gray{
                            background: #A0A0A0;
                        }
                    }
                    .manager-support{
                        // float: right;
                        margin-bottom:10px;
                        background: #49CE26;
                        border-radius: 3px;
                        height: 30px;
                        color: #fff;
                        font-size: 14px;
                        line-height: 30px;
                        span{
                            display: inline-block;
                            margin-right: 14px;
                        }
                    }
                    .manager-oppose{
                        float: right;
                        background: #DC3F3F;
                        border-radius: 3px;
                        height: 30px;
                        color: #fff;
                        font-size: 14px;
                        line-height: 30px;
                        span{
                            display: inline-block;
                            margin-right: 14px;
                        }
                    }
                    .gray-plan{
                        background: #A0A0A0;
                    }
                }
            }
        }
    }
}