.projectinfo-page {
  .project-top {
    width: 1080px;
    margin: 0 auto;
    padding: 50px 0;
    h2 {
      font-size: 26px;
      margin-bottom: 20px;
      text-align: center;
    }

    .title-p {
      margin-bottom: 20px;
      text-align: center;
      font-size: 14px;
      color: @t-9b;
      line-height: 20px;
    }
    .ptop-left {
      width: 750px;
      margin-right: 30px;
      vertical-align: top;
      display: inline-block;

      .ptop-img {
        position: relative;

        img,
        video {
          width: 750px;
          height: 480px;
        }

        video {
          background: black;
        }

        .play-btn {
          width: 63px;
          height: 63px;
          border-radius: 50%;
          background: url('../../img/play-no.png') no-repeat;
          background-size: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -31px;
          margin-left: -31px;

          &:hover {
            background: url('../../img/play.png') no-repeat;
            background-size: cover;
            cursor: pointer;
          }
        }
      }
    }

    .ptop-right {
      width: 300px;
      vertical-align: top;
      display: inline-block;
      border-top: 1px solid @bg-e5;

      .right-big-text {
        // margin: 47px 0;
        margin: 30px 0 47px 0;
        font-size: 18px;
        font-weight: 600;
        color: @t-purple;
        text-align: center;

        .big-purple-text {
          font-size: 40px;
        }

        .md-purple-text {
          font-size: 30px;
        }

        .sm-purple-text {
          margin-top: 10px;
          display: block;
        }
      }

      .gray-text {
        font-size: 14px;
        height: 150px;
        height: 140px;
        overflow: hidden;
        text-align: justify;
      }
      .going-wrapper{
        margin-top: 25px;
        .going-line{
          margin-bottom: 39px;
          .going-purple{
            color: @t-purple;
            .purple-big{
              font-size: 30px;
            }
            .purple-sm{
              font-size: 24px;
            }
          }
          .going-normal{
            font-size: 22px;
          }
          .going-gray{
            font-size: 16px;
            color: @t-a0;
          }
        }
      }

      .do-like {
        // margin-bottom: 55px;
        margin-bottom: 20px;
        clear: both;

        .dolike-btn {
          display: inline-block;
          width: 180px;
          height: 44px;
          line-height: 44px;
          text-align: center;
          font-size: 16px;
          color: #fff;
          background: #8A7FE6;
          box-shadow: 0 2px 8px 0 rgba(188, 181, 249, 0.50);
          border-radius: 3px;

          .dolike-img {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            background: url('../../img/like.png') no-repeat;
            background-size: cover;
            vertical-align: middle;
          }

          span {
            vertical-align: middle;
          }

          &:hover {
            background: @bg-9e;
            box-shadow: 0 2px 8px 0 rgba(188, 181, 249, 0.50);
          }
        }

        .dolike-gray-btn {
          color: @t-b9;
          background: @bg-ddd;
          box-shadow: 0 2px 8px 0 rgba(202, 202, 202, 0.50);

          .dolike-img {
            background: url('../../img/like-un.png') no-repeat;
            background-size: cover;
          }

          &:hover {
            background: @bg-ddd;
            box-shadow: 0 2px 8px 0 rgba(202, 202, 202, 0.50);
          }
        }

        .dolike-wrapper {
          float: right;
          font-size: 14px;
          color: @t-9b;
          cursor: pointer;
          margin-top: 10px;
          img {
            width: 15px;
            margin-right: 10px;
            margin-bottom: 3px;
            vertical-align: middle;
          }

          .dolike-text {
            color: @t-f3;
          }

          .no-dolike {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            vertical-align: middle;
            background: url('../../img/guanzhu-un.png') no-repeat;
            background-size: cover;
            display: inline-block;
          }

          &:hover {
            color: @t-f3;

            .no-dolike {
              background: url('../../img/guanzhu.png') no-repeat;
              background-size: cover;
            }
          }
        }
      }

      .sm-gray-text {
        font-size: 12px;
        color: @t-b2;
        border-bottom: 1px solid @bg-e5;
        // padding-bottom: 32px;
        padding-bottom: 15px;
      }

      .ptop-share {
        padding-top: 16px;

        span {
          font-size: 14px;
        }

        .share-icon {
          margin-top: 15px;

          a {
            margin-right: 60px;

            &:last-child {
              margin-right: 0;
            }
          }

          .img-div {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
          }

          .twitter-icon {
            background: url("../../img/twitter-no.png") no-repeat;
            background-size: cover;

            &:hover {
              background: url("../../img/twitter-yes.png") no-repeat;
              background-size: cover;
              box-shadow: 0 2px 10px 0 #C4E8FF;
            }
          }

          .qq-icon {
            background: url("../../img/qq-no.png") no-repeat;
            background-size: cover;

            &:hover {
              background: url("../../img/qq-yes.png") no-repeat;
              background-size: cover;
              box-shadow: 0 2px 10px 0 #BFE7FF;
            }
          }

          .webchat-icon {
            background: url("../../img/wechat-no.png") no-repeat;
            background-size: cover;
            position: relative;

            .qr-box {
              display: none;
              position: absolute;
              top: -90px;
              left: -25px;
            }

            &:hover {
              .qr-box {
                display: block;
              }
            }
          }

          .fb-icon {
            background: url("../../img/fb-no.png") no-repeat;
            background-size: cover;

            &:hover {
              background: url("../../img/fb-yes.png") no-repeat;
              background-size: cover;
              box-shadow: 0 2px 10px 0 #B6D5B4;
            }
          }
        }
      }
    }
  }
}

.project-bottom {
  background: #fff;
  padding-bottom: 50px;
  min-width: 1080px;
  .pbottom-wrapper {
    width: 1080px;
    margin: 0 auto;
  }
  .pbottom-title-wrapper {
    height:67px;
  }
  .pbottom-title {
    padding-top: 10px;
    border-bottom: 1px solid @bg-e5;
    .title-ul {
      height: 56px;
      .title-li {
        display: inline-block;
        margin-right: 60px;
        line-height: 56px;
        font-size: 18px;
        color: @t-9b;
        cursor: pointer;

        a {
          color: @t-9b  !important;
        }

        &.active {
          position: relative;
          font-weight: 600;
          color: #333;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: #333;
            border-radius: 3px;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 6;
      background: #fff;

      .title-ul {
        width: 1080px;
        margin: 0 auto;
      }
    }
  }

  .pbottom-content {
    .pbottom-left {
      width: 750px;
      margin-right: 30px;
      display: inline-block;
      vertical-align: top;
    }

    .pbottom-right {
      width: 300px;
      display: inline-block;
      vertical-align: top;
    }

    .title-h3 {
      font-size: 16px;
      padding-bottom: 10px;
      margin-top: 30px;
      border-bottom: 1px solid @bg-e5;
    }
  }
}

.projectdetail-wrapper {
  .detail-p {
    margin: 30px 0 20px 0;
    img {
      display: block;
      max-width: 750px;
    }
    p{
      text-indent: 2em;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 2px;
      margin-bottom: 20px;
    }
    h1,h2,h3,h4,h5,h6{
      margin: 20px 0;
      letter-spacing: 2px;
    }
    h3{
      border-bottom: none;
    }
    ul{
      padding-left: 2em;
      li{
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 2px;
        list-style: disc;
      }
    }
    ol{
      padding-left: 2em;
      li{
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 2px;
        list-style: decimal;
      }
    }
  }

  .detail-img {
    width: 750px;
    max-height: 500px;
    margin-bottom: 30px;
  }
  .contract-info{
    margin-top: 60px;
    margin-bottom: 60px;
    .two-row{
      display: flex;
      .left-row,.right-row{
        flex: 1;
        .block-span{
          display: block;
          margin-top: 30px;
          font-size: 14px;
        }
      } 
    }
  }
}

.message-wrapper {
  .textarea-wrapper {
    padding: 15px 0;
    border-bottom: 1px solid @bg-e5;
    margin-bottom: 20px;
    .hei-textarea {
      margin-top: 15px;
      &:read-only{
        background: @bg-f6;
        color:@t-b9;
      }
    }

    .message-textarea {
      width: 100%;
      min-height: 56px;
      padding: 5px;
      border: 1px solid @bg-e5;
      margin-bottom: 15px;
      border-radius: 3px;
    }

    .people-message {
      clear: both;
      .people-img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        vertical-align: middle;
        border-radius: 50%;
      }
      .normal-button {
        float: right;
      }
    }
  }

  .message-comment {
    .comment-list {
      clear: both;
      border-bottom: 1px solid @bg-e5;
      padding-bottom: 20px;

      .comment-people {
        margin-top: 35px;
        .people-img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          vertical-align: middle;
          border-radius: 50%;
        }
      }

      p {
        padding: 20px 0 20px 40px;
        margin-bottom: 0;
      }

      .time-tips {
        font-size: 12px;
        color: @t-a0;
        margin-left: 40px;
      }

      .right-other {
        float: right;
        margin-right: 25px;
        .zan-img,.message-img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          vertical-align: middle;
          cursor: pointer;
        }

        .message-img {
          margin-right: 30px;
        }

        span {
          font-size: 12px;
          vertical-align: middle;
        }
      }

      .comment-input {
        text-align: right;
        margin-left: 40px;

        .reply-textarea {
          display: block;
          height: auto;
          min-height: 40px;
          margin-bottom: 15px;
          margin-top: 20px;
          width: 100%;
          padding: 5px;
          border: 1px solid @bg-e5;
          border-radius: 3px;
          // width: 730px;
        }
      }

      .reply-comment {
        background: #F6F6F6;
        border-radius: 3px;
        margin-left: 15px;
        clear: both;
        box-sizing: border-box;
        padding: 20px 20px 0 20px;
        margin-top: 25px;

        .reply-list {
          border-bottom: 1px solid @bg-e5;
          // border: 1px solid red;
          padding: 20px 0;

          &:last-child {
            border-bottom: none;
          }
        }

        .reply-people {
          .people-img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            vertical-align: middle;
            border-radius: 50%;
          }
        }

        p {
          padding: 20px 0 20px 40px;
          margin-bottom: 0;
        }

        .time-tips {
          font-size: 12px;
          color: @t-a0;
          margin-left: 40px;
        }

        .right-other {
          float: right;
          margin-right: 5px;
          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            vertical-align: middle;
          }
          .message-img {
            margin-right: 30px;
          }
          span {
            font-size: 12px;
            vertical-align: middle;
          }
        }
        .reply-input {
          text-align: right;
          margin: 20px 0 0 40px;
          .reply-textarea {
            display: block;
            height: auto;
            min-height: 40px;
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
            margin: 0 0 15px 0;
            border: 1px solid @bg-e5;
            border-radius: 3px;
          }
        }
      }
    }
  }
}

.updatelist-wrapper {
  .no-update{
    margin-top: 30px;
  }
  .updatelist-list {
    clear: both;
    cursor: pointer;
    .updatelist-p {
      margin-top: 15px;
      text-align: justify;
      margin-bottom: 15px;
      max-height: 79px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4; // （行数）
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      img,
      video {
        display: none;
      }
    }
    .time-tips {
      font-size: 12px;
      color: @t-a0;
    }
    .right-other {
      float: right;
      font-size: 12px;
      color: @t-a0;
    }
  }
}

.team-wrapper {
  .team-smallbox {
    margin-top: 30px;
    font-size: 14px;

    .team-people {
      img {
        width: 30px;
        height: 30px;
        vertical-align: middle;
        margin-right: 10px;
        border-radius: 50%;
      }
    }

    .team-des {
      margin-top: 5px;
      color: @t-9b;
    }
  }
}
.price-wrapper{
  margin-top: 60px;
  margin-bottom: 60px;
  .price-btn{
    text-align: right;
    margin: 30px 0 20px 0;
    .white-btn{
       margin-right: 30px;
    }
  }
  .line-picture{
    height: 254px;
    border: 1px solid red;
  }
  .price-tips{
    background: @bg-f6;
    border-radius: 3px;
    margin-top: 20px;
    padding: 15px;
    font-size: 14px;
    text-align: justify;
  }
}
.gift-wrapper{
  .gift-smallbox{
    margin-top: 30px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding: 0 15px;
    .b-block,.m-block{      
      display: block;
      margin-top: 11px;
    }
    .b-block{
      font-size: 16px;
    }
    .m-block{
      font-size: 14px;
    }
    .s-gray{
      font-size: 12px;
      color: @t-b2;
    }
    .m-gray{
      font-size: 14px;
      color: @t-b2;
      text-align: justify;
      margin-top: 11px;
    }
    .normal-button{
      margin: 18px 15px 18px 0;
    }
  }
}
.team-price-wrapper{
  margin-top: 60px;
  .title-h3{
    margin-bottom: 30px;
  }
  .team-price-line{
    display: flex;
    font-size: 14px;
    margin-top: 15px;    
    .left-t,.right-t{
      flex: 1;
    }
    .right-t{
      text-align: right;
      .g-tips{
        font-size: 12px;
        color: @t-b2;
      }
      .c-tips{
        font-size: 12px;
      }
    }
  }
}
.updateinfo-wrapper {
  .updateinfo-tips {
    font-size: 12px;
    color: @t-a0;
    line-height: 20px;
    clear: both;

    .back-img {
      float: right;
      width: 20px;
      height: 20px;
    }
  }

  .updateinfo-top {
    padding: 30px 0;
    border-bottom: 1px solid @bg-e5;
    margin-bottom: 30px;

    .update-title {
      font-size: 16px;
      display: block;
      margin: 15px 0;
    }

    .update-people {
      margin: 15px 0;
      clear: both;
      .people-img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        vertical-align: middle;
        border-radius: 50%;
        cursor: pointer;
      }

      .right-update {
        color: @t-9b;
        float: right;

        span {
          cursor: pointer;
        }
      }
    }

    .updateinfo-p  {
      margin-bottom: 20px;
      img {
        display: block;
        max-width: 750px;
      }
      p{
        text-indent: 2em;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 2px;
        margin-bottom: 20px;
      }
      h1,h2,h3,h4,h5,h6{
        margin: 20px 0;
        letter-spacing: 2px;
      }
      h3{
        border-bottom: none;
      }
      ul{
        padding-left: 2em;
        li{
          margin-bottom: 15px;
          font-size: 14px;
          line-height: 26px;
          letter-spacing: 2px;
          list-style: disc;
        }
      }
      ol{
        padding-left: 2em;
        li{
          margin-bottom: 15px;
          font-size: 14px;
          line-height: 26px;
          letter-spacing: 2px;
          list-style: decimal;
        }
      }
    }

    .zan-img {
      width: 18px;
      height: 18px;
      margin-right: 10px;
      cursor: pointer;
    }

    .zan-span {
      font-size: 12px;
    }
  }
}

.delete-info-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 6;

  .delete-content {
    width: 450px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(197, 197, 197, 0.50);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -225px;
    text-align: center;

    .delete-text {
      padding: 80px 120px 0 120px;
      font-size: 16px;
      line-height: 24px;
    }

    .delete-btn {
      position: absolute;
      bottom: 60px;
      left: 95px;
      text-align: center;

      .red-btn {
        margin-right: 20px;
      }
    }
  }
}

.transation-wrapper{
  width: 1080px;
  margin: 0 auto;  
  .trans-top{
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
  }
  .trans-price{
      display: inline-block;
      vertical-align: top;
      width: 750px;
      margin-right: 30px;
      .trans-echart{
          width: 750px;
          height: 260px;
          border: 1px solid red;
          margin-top: 30px;
      }
  }
  .trans-right-table{
      display: inline-block;
      vertical-align: top;
      width:300px;
      .right-title{
        border-bottom: 1px solid  #E5E5E5;
        margin-top: 15px;
        .title-ul {
          height: 46px;
          display: flex;
          justify-content: space-between;
          .title-li {
            // display: inline-block;
            // margin-right: 60px;
            line-height: 46px;
            font-size: 16px;
            color: @t-9b;
            cursor: pointer;
            a {
              color: @t-9b  !important;
            }
      
            &.active {
              position: relative;
              font-weight: 600;
              color: #333;
      
              &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background: #333;
                border-radius: 3px;
              }
            }
          }
        }      
      }
      .tran-des{
        border: 1px solid @bg-e5;
        border-radius: 3px;
        padding: 0 15px;
        box-sizing: border-box;
        margin-top: 30px;
        width: 300px;
        height: 260px;
      }
      .tran-line{
          font-size: 14px;
          margin-top: 40px;
          line-height: 20px;
          &:first-child{
            margin-top: 30px;
          }
          .line-left{
              display: inline-block;
          }
          .line-right{
              float: right;
              text-align: right;
          }
          .small-gray{
              color: #A0A0A0;
          }
          .big-purple{
              color: #6C61C5;
          }
          .big-red{                        
              color: #F25151;
          }
          .big-green{
              color: #49CE26;
          }
          .strong-text{
            font-weight: 600;
          }
      }
      .buy-in{
          font-size: 14px;
          .buy-line{
              margin-top: 20px;
              display: flex;
              &:first-child{
                margin-top: 25px;
              }
              .buy-left{
                  width: 85px;                            
                  color: @t-b2;
                  line-height: 36px;
              }
              .buy-right{
                  position: relative;
                  .normal-buy-input{
                      border: 1px solid @bg-e5;
                      border-radius: 3px;
                      width: 200px;
                      height: 36px;
                      padding: 10px;
                      box-sizing: border-box;
                  }
                  .readonly-input{
                      background: #F6F6F6;
                      border: 1px solid #E5E5E5;
                  }
                  .asset-text{
                      position: absolute;
                      top: 10px;
                      right: 10px;
                      color: #A0A0A0;
                  }
              }
          }
          .doing-btn{
              text-align: center;
              margin-top: 25px;
              .bg-btn{
                  width: 100% !important;
              }
          }
      }

  }
  .trans-Bottom-table{
      margin-top: 30px;
      width: 100%;
      .bottom-title{
          border-bottom: 1px solid #E5E5E5;
          // padding-left: 30px;
          .title-ul {
            height: 46px;
            .title-li {
              display: inline-block;
              margin-right: 60px;
              line-height: 46px;
              font-size: 16px;
              color: @t-9b;
              cursor: pointer;
              a {
                color: @t-9b  !important;
              }
        
              &.active {
                position: relative;
                font-weight: 600;
                color: #333;
        
                &:after {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 4px;
                  background: #333;
                  border-radius: 3px;
                }
              }
            }
          }
      }
      .bottom-table{
        margin-top: 30px;
        border: 1px solid @bg-e5;
        border-radius: 3px;
          .table-ul{
              width: 100%;
              .table-li-th,.table-li-td{
                  display: flex;
                  justify-content: space-between;
                  padding: 0 30px;
                  border-bottom: 1px solid #E5E5E5;                            
              }
              .table-li-th{                            
                  .li-th{
                      font-size: 14px;
                      color: #B2B2B2;
                      line-height: 44px;
                      text-align: left;
                      width: 100px;
                      &:last-child{
                          text-align: right;
                          width: 175px;
                      }
                      &:first-child{
                          width: 200px !important;
                      }
                      &:nth-of-type(6){
                          width: 180px !important;
                      }
                  }
              }
              .table-li-td{                            
                  .li-td{
                      font-size: 14px;
                      color: #333333;
                      line-height: 44px;
                      text-align: left;
                      width: 100px;
                      &:last-child{
                          text-align: right;
                          width: 175px;
                      }
                      &:first-child{
                          width: 200px !important;
                      }
                      &:nth-of-type(6){
                          width: 180px !important;
                      }
                  }
                  .purple-text{
                      color: #6C61C5;
                  }
                  .green-text{
                      color: #49CE26;
                  }
                  .red-text{
                      color: #DC3F3F;
                  }
                  &:last-child{
                      border-bottom:none;
                  }
              }
          }
      }
  }
}
.manager-wrapper{
  .green-text{
      color: #49CE26;
  }
  .purple-text{
      color: #6C61C5;
  }
  .gray-text{
      color: #A0A0A0;
  }
  .manager-list-wrap{
      background: #FFFFFF;
      box-shadow: 0 4px 12px 0 rgba(175,175,175,0.50);
      border-radius: 6px;
      margin-top: 30px;
      padding: 30px 30px 20px 30px;
      clear: both;
      .manager-left{
          display: inline-block;
          .manager-title{
              margin-bottom: 20px;
              h3{
                  display: inline-block;
                  font-size: 20px;   
                  margin-right: 15px;                         
              }
              .other-text{
                  font-size: 16px;
              }
          }
          .manager-people{
              margin-bottom: 20px;
              img{
                  vertical-align: middle;
                  width: 24px;
                  height: 24px;
                  margin-right: 10px;
              }
              .gray-text{
                  vertical-align: middle;
                  font-size: 14px;
                  color: #A0A0A0;
              }
          }
          .manager-state{
              font-size: 16px;
              color: #333333;
              font-weight: 600;                    
          }
      }
      .manager-right{
          float: right;
          text-align: right;
          .manager-number{
              font-size: 20px;
              margin-bottom: 10px;
              font-weight: 600;
          }
          .manager-votebox{
              width: 260px;
              height: 20px;
              margin-top: 60px;
              border-radius: 3px;
              display: flex;
              position: relative;
              float: right;
              .green-sai{
                  background: #71E852;
                  border-radius: 3px 0px 0px 3px; 
                  height: 100%;                           
              }
              .red-sai{
                  background: #FE6868;
                  height: 100%;
                  border-radius: 0px 3px 3px 0px ; 
              }
              .left-top{
                  position: absolute;
                  top: -20px;
                  left: 0;
              }
              .right-top{
                  position: absolute;
                  top: -20px;
                  right:0;
              }
              .qian-gray{
                 background: #C9C9C9;
              }
              .shen-gray{
                  background: #A0A0A0;
              }
          }
          .manager-support{
              // float: right;
              margin-bottom:10px;
              background: #49CE26;
              border-radius: 3px;
              height: 30px;
              color: #fff;
              font-size: 14px;
              line-height: 30px;
              span{
                  display: inline-block;
                  margin-right: 14px;
              }
          }
          .manager-oppose{
              float: right;
              background: #DC3F3F;
              border-radius: 3px;
              height: 30px;
              color: #fff;
              font-size: 14px;
              line-height: 30px;
              span{
                  display: inline-block;
                  margin-right: 14px;
              }
          }
          .gray-plan{
              background: #A0A0A0;
          }
      }
  }
}