.normal-button{
  display: inline-block;  
  width: 120px;
  height: 30px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  background:  #8A7FE6;
  // box-shadow:  0 2px 8px 0 rgba(188,181,249,0.50);
  border-radius: 3px;
  user-select: none;
  vertical-align: middle;
  &:hover{
    background: #9E94F5;
    // box-shadow:  0 2px 8px 0 rgba(188,181,249,0.50);
    cursor: pointer;
  }
}
.sm-btn{
  width: 70px;
  height: 30px;
  line-height: 30px;
}
.md-btn{
  width: 127px;
  height: 30px;
  line-height: 30px;
}
.bg-btn{
  width: 345px;
  height: 44px;
  line-height: 44px;
}
.bg-bg-btn{
  width: 300px;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
}
.md-bg-btn{
  width: 180px;
  height: 44px;
  line-height: 44px;
}
.video-btn{
  width: 80px;
  height: 30px;
  line-height: 30px;
}
.buy-btn{
  width: 270px;
  height: 36px;
  line-height: 36px;
}
.vote-btn{
  width: 270px;
  height: 30px;
  line-height: 30px;
}
.stop-btn{
  width: 200px;
  height: 44px;
  line-height: 44px;
}
.vsm-btn{
  width: 68px;
  height: 30px;
  line-height: 30px;
}
.csm-btn{
  width: 60px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
.white-btn{
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  // box-shadow: 0 2px 8px 0 rgba(188,181,249,0.50);
  // box-shadow: 0 4px 12px 0 rgba(202,202,202,0.50);
  color: #6C61C5;
  &:hover{
    color: #9E94F5;
    background: #FFFFFF;
    // box-shadow: 0 2px 8px 0 rgba(188,181,249,0.50);
    // box-shadow: 0 4px 12px 0 rgba(202,202,202,0.50);
  }
}
.white-purple{
  background: #FFFFFF;
  border: 1px solid #8A7FE6;
  // box-shadow: 0 2px 8px 0 rgba(188,181,249,0.50);
  color: #6C61C5;
  &:hover{
    color: #9E94F5;
    background: #FFFFFF;
    // box-shadow: 0 2px 8px 0 rgba(188,181,249,0.50);
  }
}
.gray-btn{
  background: #DDDDDD;
  border: 1px solid #E5E5E5;
  box-shadow: none;
  color: #9B9B9B;
  cursor: not-allowed;
  &:hover{
    background: #DDDDDD;
    box-shadow: none;
    color: #9B9B9B;
    cursor: not-allowed;
  }
}
.gray-btn2{
  background: #DDDDDD;
  border: 1px solid #E5E5E5;
  box-shadow: none;
  color: #9B9B9B;
  &:hover{
    background: #DDDDDD;
    box-shadow: none;
    color: #9B9B9B;
  }
}
.red-btn{
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  // box-shadow: 0 2px 8px 0 rgba(229,229,229,0.50);
  color: #F1361D;
  &:hover{
    background: #ffffff;
    // box-shadow: 0 2px 8px 0 rgba(229,229,229,0.50);
    color: #FF6D59;
  }
}
.gray-red{
  background: #FFFFFF;
  border: 1px solid #9B9B9B;
  box-shadow: none;
  color: #F25151;
  margin-right: 15px;
  &:hover{
    background: #ffffff;
    border: 1px solid #333333;
    box-shadow: none;
    color: #F25151;
  }
}
.gray-black{
  background: #FFFFFF;
  border: 1px solid #9B9B9B;
  box-shadow: none;
  color: #9B9B9B;
  &:hover{
    background: #ffffff;
    border: 1px solid #333333;
    box-shadow: none;
    color: #333333;
  }
}
.gray-black2{
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: none;
  color: #9B9B9B;
  &:hover{
    background: #ffffff;
    border: 1px solid #333333;
    box-shadow: none;
    color: #333333;
  }
}
.green-btn{
  background: #49CE26;
  // box-shadow: 0 2px 8px 0 #95F47D;
  color:#fff;
  &:hover{
    background: #49CE26;
    // box-shadow: 0 2px 8px 0 #95F47D;
    color:#fff;
  }
}
.red-red{
  background: #DC3F3F;
  // box-shadow: 0 2px 8px 0 #F3A2A2;
  color: #fff;
  &:hover{
    background: #DC3F3F;
    // box-shadow: 0 2px 8px 0 #F3A2A2;
    color: #fff;
  }
}
.bright-green{
  background: #5CDC3B;
  // box-shadow: 0 2px 8px 0 rgba(135,227,111,0.50);
  &:hover{
    background: #64E642;
    // box-shadow: 0 2px 8px 0 rgba(135,227,111,0.50);
  }
}
.bright-red{
  background: #FE6868;
  // box-shadow: 0 2px 8px 0 rgba(255,146,146,0.50);
  &:hover{
    background: #F97E7E;
    // box-shadow: 0 2px 8px 0 rgba(255,146,146,0.50);
    color: #fff;
  }
}
// @media screen and (max-width:1000px) {
//   .normal-blue{
//     font-size: 12px;
//   }
// } 