.personal-page{
    background: #fff;
    min-height: 688px;
    min-width: 1080px;
}
.personal-content{
    width: 1080px;
    min-height: 688px;
    margin: 0 auto;
    padding: 50px 0 70px 0;
    position: relative;
    box-sizing: border-box;
    // min-height: 709px;
    .personal-left-menu{
        width: 300px;
        background: @bg-f6;
        // height: 100%;
        position: absolute;
        left: 0;
        top: 50px;
        bottom: 50px;
        .left-menu-title{
            padding: 30px 0 30px 30px; 
            border-bottom: 1px solid #E5E5E5;  
            .h2-title{
                font-size: 22px;
                line-height: 22px;
                margin-bottom: 0;
            }         
        }
        .left-menu-list{
            .menu-list-ul{
                .menu-li{
                    font-size: 14px;
                    color: @t-9b;
                    height: 54px;
                    line-height: 54px;
                    padding-left: 30px;
                    cursor: pointer;
                    &.li-active{
                        color: #333;
                        background:@bg-fd;
                    }
                }
            }
        }
    }
}
.myproject-page{
    margin-left: 330px;
    h2{
        font-size: 22px;
        margin-bottom: 15px;
    }
    .myproject-menu{
        padding-top: 10px;
        border-bottom: 1px solid  @bg-e5;        
        .title-ul{
            height: 56px;                        
            .title-li{
                display: inline-block;
                margin-right: 60px;
                line-height: 56px;
                font-size: 18px;
                color: @t-9b;
                cursor: pointer;
                a{
                    color: @t-9b !important;
                }
                &.active{
                    position: relative;
                    font-weight: 600;
                    color: #333;
                    &:after{
                        content:'';
                        position: absolute;
                        bottom:0;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        background: #333;
                        border-radius: 3px;
                    }
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }   
    }
    .manager-list{
        .manager-line{
            border-bottom: 1px solid @bg-e5;
            padding: 30px 0;
            .manager-img{
                width: 247px;
                height: 160px;
                vertical-align: top;     
                margin-right: 20px;
                border-radius: 5px;    
            }
            .manager-right{
                display: inline-block;
                max-width: 430px;
                min-width: 400px;
                vertical-align: top;
                position: relative;
                height: 160px;
                .project-title{
                    font-size: 16px;
                }
                .project-card{
                    margin-top: 20px;
                    .normal-card{
                        margin-right:10px;
                    }
                }
                .project-status{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    strong{
                        margin-right: 10px;
                    }
                    .green-text{
                        color: @t-41c;                    
                    }
                    .purple-text{
                        color: @t-purple;
                    }
                    .red-text{
                        color: @t-f13;
                    }
                }
            }
        }
        .list-page-warpper{
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
    .attention-list{
        .attention-line{
            display: inline-block;
            width: 240px;
            height: 310px;
            margin-right: 12px;
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            box-shadow: 0 4px 12px 0 rgba(202,202,202,0.50);
            border-radius: 5px;
            margin-top: 30px;
            vertical-align: top;
            &:nth-of-type(3n){
                margin-right: 0;
            }
            .attention-img{
                width: 240px;
                height: 160px;
                margin-bottom: 10px;
            }
            .attention-content{
                padding: 0 15px;
            }
            .attention-title{
                font-size: 16px; 
                height: 44px;
                overflow: hidden;
                text-overflow: ellipsis; 
                display: -webkit-box;
                -webkit-line-clamp: 2; // （行数）
                /* autoprefixer: off */
                -webkit-box-orient: vertical;           
            }
            .project-card{
                margin: 10px 0 15px 0;
                .normal-card{
                    margin-right: 10px;
                }
            }
            .project-status{
                .time-text{
                    font-size: 12px;
                    display: block;
                    color: @t-b2;
                    margin-top: 5px;
                }
            }
        }
        .list-page-warpper{
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}
.personedit-page{
    margin-left: 330px;
    .person-picture{
        margin-top: 50px;
        margin-left: 30px;        
        .person-img{
            width: 80px;
            height: 80px;
            margin-right: 20px;
            display: inline-block;
            vertical-align: top;
            img{
                width: 80px;
                height: 80px;
            }
            .no-img{
                width: 80px;
                height: 80px;
                background: @bg-e5;
            }
        }
        .person-name-img{
            display: inline-block;
            vertical-align: top;
            .person-name{
                display: block;
                font-size: 22px;
                line-height: 22px;
                margin-bottom: 28px;
            }
            .avatar-uploader{
                display: block;
                width: 120px;
                height: 30px;
                border: 1px solid @bg-8a;
                // color: @t-purple;
                background: #FFFFFF;
                box-shadow: 0 2px 8px 0 rgba(188,181,249,0.50);
                .ant-upload{
                    width: 100%;
                    height: 100%;
                    color: @t-purple;
                    text-align: center;
                    line-height: 30px;
                    .ant-upload{
                        display: block;
                        width: 100%;
                    }
                }
                &:hover{
                    cursor: pointer;
                    .ant-upload{
                        color: #9E94F5;
                    }
                }
            }
        }
    }
    .person-info{
        margin-left: 30px;
        margin-bottom: 60px;
        .info-line{
            margin-top: 60px;            
            .edit-title{
                margin-bottom: 20px;
                clear: both;
                strong{
                    font-size: 18px;
                }
                .edit-img{
                    float: right;
                    width: 20px;
                    height: 20px;
                    background: url('../../img/edit.png') no-repeat;
                    background-size: cover;
                    cursor: pointer;
                }
                .edit-btn-wrapper{
                    float: right;
                }
                .asset-icon{
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
            .person-p{
                width: 100%;
                // height: 80px;
                text-align: justify;
                overflow: hidden;
                display: -webkit-box;  
                text-overflow: ellipsis;  
                /* autoprefixer: off */               
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4; // （行数）   
                           
            }
            .edit-textarea{
                background: #FFFFFF;
                border: 1px solid #333333;
                border-radius: 3px;
                width: 100%;
                height: 80px;
                padding: 5px;
                text-align: justify;
                resize: none;
            }
            .edit-input,.edit-pwd{
                height: 44px;
            }
            .edit-pwd{
                margin-top: 20px;
            }
            .err-msg{
                color: @t-b2;
                font-size: 12px;
                line-height: 14px;
                img{
                    width: 14px;
                    height: 14px;
                    margin-right: 5px;   
                    margin-top: 3px;       
                }
            }
            .personedit-btn{
                margin-top: 20px;
                text-align: right;
                .red-btn{
                    margin-right: 20px;
                }
            }
            .nobind-text{
                color:#B2B2B2;
            }       
        }
    }
    .gray-status{
        color: @t-b2;        
        .info-line{          
            .edit-title{
                .edit-img{
                    background: url('../../img/edit-un.png') no-repeat;
                    background-size: cover;
                }
            }         
        }
        .active-eidt{
            color: #333;
            .edit-title{
                .edit-img{
                    background: url('../../img/edit.png') no-repeat;
                    background-size: cover;
                }
            } 
        }
    }
}
.myorder-wrapper{
    margin-left: 330px;    
    .order-table-title{
        background: #F6F6F6;
        border: 1px solid #E5E5E5;
        border-radius: 3px;
        margin-top: 20px;
        ul{
            li{
                // min-width: 85px;
                display: inline-table;
                text-align: center;
                line-height: 44px;
                &:first-child{
                    min-width: 194px;
                }
                &:nth-of-type(2){
                    min-width: 139px;
                }
                &:nth-of-type(3){
                    min-width:139px;
                }
                &:nth-of-type(4){
                    min-width: 139px;
                }
                &:nth-of-type(5){
                    min-width: 134px;
                }
            }
        }
    }
    .order-table-content{
        .order-table-line{
            background: #FFFFFF;
            border: 1px solid #EEECFF;
            border-radius: 3px;
            margin-top:20px;
            .order-line-top{
                background: #EEECFF;
                border-radius: 3px 3px 0px 0px;
                line-height: 44px;
                border-bottom: 1px solid #EEECFF;
                font-size: 12px;
                .order-time{
                    display: inline-block;
                    margin-right: 70px;
                    padding-left: 15px;
                }
            }
            .order-table-box{
                li{
                    display: inline-block;
                    text-align: center;
                    padding: 30px 15px;
                    font-size: 12px;
                    border-right: 1px solid #EEECFF;
                    height: 103px;
                    vertical-align: top;
                    .order-name{
                        display: block;
                        font-weight: 600;
                        font-size: 13px;
                        text-align: left;
                        overflow: hidden;
                        text-overflow: ellipsis; 
                        display: -webkit-box;
                        -webkit-line-clamp: 2; // （行数）
                        /* autoprefixer: off */
                        -webkit-box-orient: vertical; 
                        margin-bottom: 10px;
                    }
                    .order-backtitle{
                        display: block;
                        text-align: left;
                    }
                    .order-purple{
                        display:block;
                        color: #8A7FE6;
                        margin-top: 10px;
                        cursor: pointer;
                    }
                    &:first-child{
                       width: 194px;
                       padding: 15px;
                    }
                    &:nth-of-type(2){
                        min-width: 139px;
                    }
                    &:nth-of-type(3){
                        min-width:139px;
                    }
                    &:nth-of-type(4){
                        min-width: 139px;
                    }
                    &:nth-of-type(5){
                        min-width: 134px;
                    }
                    &:last-child{
                        border-right: none;
                    }
                }
            }
        }
    }
}
.send-order-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 6;
  
    .send-order-content {
        width: 750px;
        height: 454px;
        background: #FFFFFF;
        box-shadow: 0 2px 6px 0 rgba(197, 197, 197, 0.50);
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%, -50%);
        .send-order-close{
            position: absolute;
            top: 30px;
            right: 30px;
            .close-icon{
            width: 24px;
            height: 24px;
            }
        }
        .send-order-title{
            margin-top: 32px;
            font-size: 16px;
            text-align: center;
            padding-bottom: 32px;
            border-bottom: 1px solid @bg-e5;
            margin-bottom: 50px;
        }
        .send-order-span{
            display: block;
            margin-left: 50px;
        }
        .send-order-reason{
            display: block;
            resize: none;
            width: 650px;
            height: 150px;
            margin: 0 auto;
            margin-top:15px;
            margin-bottom: 50px;
            border: 1px solid @bg-e5;
            border-radius: 3px;
        }
        .sendbtn-wrap {
            text-align: center;
            .red-btn {
            margin-right: 50px;
            }
        }
    }
}
.manager-orderinfo-wrapper{
    .orderinfo-top{
        margin-top: 50px;
        font-size: 16px;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 10px;
        .gray-text{
            color: #9B9B9B;
        }
        .trangle{
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-top: 5px solid #9B9B9B;
            border-radius: 2px;
        }
    }
    .orderinfo-title{
        display: block;
        margin-top: 60px;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .first-title{
        margin-top: 50px;
    }
    .orderinfo-gray-box{
        background: #F6F6F6;
        border-radius: 3px;
        clear: both;
        .orderinfo-status{
            font-size: 16px;
            display: block;
            border-bottom: 1px solid #E5E5E5;
            padding: 0 20px;
            line-height: 54px;
        }
        .orderinfo-span{
            padding: 0 20px;
            line-height: 54px;
        }
        .orderinfo-p{
            padding: 0 20px 20px 20px;
        }
        .check-wrapper-btn{
            text-align: right;
            padding: 0 20px 30px 0;
            .red-btn{
                margin-right: 20px;
            }
        }
    }
    .orderinfo-idinput{
        padding-top: 10px;
        font-size: 12px;
        cursor: pointer;
        .gray-text{
            color: #b2b2b2;
            display: inline-block;
            margin-left: 20px;
        }
        .purple-text{
            color:@t-purple;
        }
        .search-orderid{
            width: 600px;
            height: 30px;
            line-height: 30px;
            margin-right: 30px;
            vertical-align: middle;
        }
    }
    .recieve-addr{
        padding: 0 20px;
        .orderinfo-span{
            display: block;
            border-bottom: 1px solid @bg-e5;
            height: 54px;
            padding-left: 0;
            &:last-child{
                border-bottom: none;
            }
        }
    }
    .order-id-line{
        margin-bottom: 15px;
        clear: both;
        .right-time{
            float: right;
        }
    }
    .orderinfo-table-wrapper{        
        ul{
            border: 1px solid #E5E5E5;
            border-radius: 3px;
            height: 105px;
            li{
                display: inline-block;
                font-size: 12px;
                width: 164px;
                text-align: center;
                border-right: 1px solid #E5E5E5;
                vertical-align: top;
                height: 100%;
                .orderinfo-name{
                    display: block;
                    font-size: 13px;
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis; 
                    display: -webkit-box;
                    -webkit-line-clamp: 2; // （行数）
                    /* autoprefixer: off */
                    -webkit-box-orient: vertical; 
                    margin-bottom: 10px;
                }
                .orderinfo-backtitle{
                    text-align: left;
                    // overflow: hidden;
                    text-overflow: ellipsis; 
                    display: -webkit-box;
                    -webkit-line-clamp: 2; // （行数）
                    /* autoprefixer: off */
                    -webkit-box-orient: vertical; 
                    position: relative;
                    .orderinfo-order-box{
                        display: none;
                        width: 450px;
                        height: 268px;
                        padding: 20px;
                        text-align: justify;
                        line-height: 18px;
                        position: absolute;
                        top: 10px;
                        left: 40px;
                        z-index: 2;
                        background: #FFFFFF;
                        border: 1px solid #E5E5E5;
                        box-shadow: 0 4px 12px 0 rgba(202,202,202,0.50);
                        border-radius: 3px;
                        p{
                            margin-bottom: 20px;
                        }
                    }
                    &:hover{
                        .orderinfo-order-box{
                            display: block;
                        }
                    }
                }
                .info-table-th{
                    line-height: 52px;
                    display: block;
                    border-bottom: 1px solid #E5E5E5;
                }
                .info-table-td{
                    line-height: 51px;
                }
                &:first-child{
                    width: 255px;
                    padding: 15px 15px;
                }
                &:last-child{
                    border-right: none;
                }
            }
        }
        .right-sumprice{
            font-size: 18px;
            text-align: right;
            margin-top: 15px;
            font-weight: 600;
            margin-bottom: 60px;
        }
    }
}